# Everything you need to know about python:
## In simplest possible way

# Usage of zip() in for loop

`zip()` is a built-in Python function that is used to combine multiple iterables (e.g., lists, tuples, or strings) element-wise, creating an iterator of tuples containing corresponding elements from each iterable. It groups the elements based on their positions, allowing you to process them together as pairs.

The syntax for `zip()` is as follows:

```python
zip(iterable1, iterable2, ...)
```

Here, `iterable1`, `iterable2`, etc., are the iterables you want to combine. The function takes the elements at the same index from each iterable and packs them into a tuple. The `zip()` function returns an iterator, so you typically use it in combination with a list comprehension or in a loop.

## Examples to understand zip()

In [1]:
names = ['Mahesh', 'Suresh', 'Rajesh']
ages = [21,22,23]

for name, age in zip(names, ages):
    print(f'Name is {name} and age is {age}')

Name is Mahesh and age is 21
Name is Suresh and age is 22
Name is Rajesh and age is 23

    We want to iterate through names list and ages list simultaneously then we can use zip()

### To understand better

In [2]:
list(zip(names, ages))

[('Mahesh', 21), ('Suresh', 22), ('Rajesh', 23)]

### What if we have iterables with different sizes

In [3]:
names = ['Mahesh', 'Suresh', 'Rajesh']
ages = [21]

for name, age in zip(names, ages):
    print(f'Name is {name} and age is {age}')

Name is Mahesh and age is 21

    zip() stops combining elements once the shortest iterable is exhausted. This behavior is known as "shortest-iteration." It means that the resulting zip object will contain the same number of elements as the shortest input iterable.
    
    because of that reason we have got only one statement as output

## What if we want all values of longest iterable

    If you want to preserve the unmatched elements when the iterables have different lengths, you can use itertools.zip_longest() from the itertools module instead. It fills the missing elements with a specified fill value (by default, None).

In [4]:
from itertools import zip_longest

names = ['Mahesh', 'Suresh', 'Rajesh']
ages = [21]

for name, age in zip_longest(names, ages):
    print(f'Name is {name} and age is {age}')

Name is Mahesh and age is 21
Name is Suresh and age is None
Name is Rajesh and age is None

## Using strings

In [5]:
string1 = 'like'
string2 = 'subscribe'

for s1, s2 in zip(string1, string2):
    print(f'char from first string is {s1} and char from second string is {s2}')

char from first string is l and char from second string is s
char from first string is i and char from second string is u
char from first string is k and char from second string is b
char from first string is e and char from second string is s

In [6]:
string1 = 'like'
string2 = 'subscribe'

for s1, s2 in zip_longest(string1, string2):
    print(f'char from first string is {s1} and char from second string is {s2}')

char from first string is l and char from second string is s
char from first string is i and char from second string is u
char from first string is k and char from second string is b
char from first string is e and char from second string is s
char from first string is None and char from second string is c
char from first string is None and char from second string is r
char from first string is None and char from second string is i
char from first string is None and char from second string is b
char from first string is None and char from second string is e

## Using tuples

In [7]:
names = ('Mahesh', 'Suresh', 'Rajesh')
ages = (21,22,23)

for name, age in zip(names, ages):
    print(name, age)

Mahesh 21
Suresh 22
Rajesh 23

## Using sets

In [8]:
names = {'Mahesh', 'Suresh', 'Rajesh'}
ages = {21,22,23}

for name, age in zip(names, ages):
    print(name, age)

Mahesh 21
Rajesh 22
Suresh 23

## Using dicts (keys)

In [9]:
dict1 = {1:'one', 2:'two'}
dict2 = {3:'three', 4:'four'}

for d1, d2 in zip(dict1, dict2):
    print(d1,d2)

1 3
2 4

## Using dicts (values)

In [10]:
dict1 = {1:'one', 2:'two'}
dict2 = {3:'three', 4:'four'}

for d1, d2 in zip(dict1.values(), dict2.values()):
    print(d1,d2)

one three
two four

## Using dicts (key-value pairs)

In [11]:
dict1 = {1:'one', 2:'two'}
dict2 = {3:'three', 4:'four'}

for d1, d2 in zip(dict1.items(), dict2.items()):
    print(d1,d2)

(1, 'one') (3, 'three')
(2, 'two') (4, 'four')

If you find this content interesting and for more of this kind of content explore my YTChannel: https://www.youtube.com/@MaheshJaviniki